<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSCameraUsageDescription</key>
    <string>Paguro uses the camera when a web service starts a video call.</string>
    <key>NSMicrophoneUsageDescription</key>
    <string>Paguro uses the microphone when a web service starts a voice or video call.</string>
    <key>NSUserNotificationsUsageDescription</key>
    <string>Paguro shows notifications from the web services that you add.</string>
</dict>
</plist>
